{% extends 'base.html' %}

{% block head %}
    <title>QHacks 2020</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="style.css"></link> 
{% endblock %}

{% block body %}
    <h1>Check How Reliable</h1>
    <h1>Your News Is!</h1>
    <h2>Have you ever wondered how truthful your news is?</h2>
    <h2>Look no further!</h2>
    <div >
        <input id="rcorners" type="text" size="90%" value="Simply Copy and Paste Your Headline Here an Press Submit~">
        <button class="button button3">Submit</button>
    </div>
{% endblock %}